/* 
#a{
    background-color:red;
}
#b{
    background-color:blue;
}
#c{
    background-color:green;
}
#d{
    background-color:yellow;
}

#e{
    background-color:orange;
}
#f{
    background-color:purple;
}
#g{
    background-color:greenyellow;
}
#h{
    background-color:gray;
}
#i{
    background-color:lightcoral;

} */
